/vendor/
/node_modules/
.env
.env.*
/storage/*.key
/public/storage
/storage/app/public
/.idea
/.vscode
/.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/public/hot
/public/mix-manifest.json
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/bootstrap/cache/*.php
composer.phar
.phpunit.result.cache
.env.backup
.env.example.local
.env.testing
.env.production
.env.development
.env.local
.env.staging